<?xml version="1.0"?>
<launch>
    <!-- Launch the node for the PLC modbus communication -->
    <node pkg="plc_modbus_node" type="ros_plc_modbus" name="plc_modbus_node" output="screen">
        <param name="debug" type="bool" value="true" />
        <param name="ip" value="192.168.1.5"/>

        <!-- No spaces to delimit easily -->
        <param name="types" value="main,roboteq,forklift,xnergy"/>

        <!-- <rosparam param="forklift_coils_addr">[32784, 32785]</rosparam> -->
        <rosparam param="forklift_coils_addr">[32784, 32785, 32786]</rosparam>
        <rosparam param="forklift_regs_write_addr">[32784,32785]</rosparam>
        <rosparam param="forklift_regs_read_addr">[32786,32787,32788,32789]</rosparam>

        <rosparam param="roboteq_coils_addr">[]</rosparam>
        <rosparam param="roboteq_regs_write_addr">[32768,32769,32770,32771]</rosparam>
        <rosparam param="roboteq_regs_read_addr">[32772,32773,32774,32775,32776,32777,32778,32779,32780,32781,32782,32783]</rosparam>

        <rosparam param="main_coils_addr">[32816,32768]</rosparam>
        <rosparam param="main_regs_write_addr">[]</rosparam>
        <rosparam param="main_regs_read_addr">[]</rosparam>

        <rosparam param="xnergy_coils_addr">[32800,32801,32802]</rosparam>
        <rosparam param="xnergy_regs_write_addr">[]</rosparam>
        <rosparam param="xnergy_regs_read_addr">[32800,32801,32802,32803,32804,32805,32806]</rosparam>
    </node> 
    <!-- Launch the translator node from data stream to variables -->
    <node pkg="plc_modbus_node" type="plc_read_translator_node" name="plc_read_translator_node" output="screen" />

    <!-- Launch the nodes for the PLC components -->
    <include file="$(find plc_modbus_controllers)/launch/plc_components.launch" /> 
</launch>

<!-- addr starts from 32768 -->
<!-- (32768,32769): speed left, (32770,32771): speed right,  (32772,32773): Encoder left,(32774,32775): Encoder right, (32777): Amps left, (32779): Amps right, (32781): Volts battery -->

